<h4 class="dropHeaders" >2. Select Your Country </h4> 
<select id="africa" class="splashDrops" name="africa" onchange="mapAppear(this.options[this.selectedIndex].value)">
	<option value ="Select" selected="selected">Select</option>
	<option value="EG">Egypt</option>
	<option value="ET">Ethiopia</option>
	<option value="GH">Ghana</option>
	<option value="KN">Kenya</option>
	<option value="MC">Morocco</option>
	<option value="SA">South Africa</option>
	<option value="TN">Tunisia</option>
</select><br><br>