<h4 class="dropHeaders" >2. Select Your Country </h4>
<select id="asia" class="splashDrops" name="asia" onchange="mapAppear(this.options[this.selectedIndex].value)">
	<option value ="Select" selected="selected">Select</option>
	<option value="BG">Bangladesh</option>
	<option value="CN">China</option>
	<option value="GM">Guam / Micronesia</option>
	<option value="HK">Hong Kong</option>
	<option value="IN">India</option>
	<option value="IS">Indonesia</option>
	<option value="IR">Iran</option>
	<option value="IQ">Iraq</option>
	<option value="IP">Israel and Palestine</option>
	<option value="JP">Japan</option>
	<option value="KR">Korea</option>
	<option value="KW">Kuwait</option>
	<option value="LB">Lebanon</option>
	<option value="ML">Malaysia</option>
	<option value="PK">Pakistan</option>
	<option value="PH">Philippines</option>
	<option value="SG">Singapore</option>
	<option value="TW">Taiwan</option>
	<option value="TL">Thailand</option>
	<option value="UAE">United Arab Emirates</option>
	<option value="VT">Vietnam</option>
</select>
<a class="btn btn-primary"> GO </a>
<br><br>
	
	

	

