<h4 class="dropHeaders" >2. Select Your Province or Territory </h4>
<select id="territories" class="splashDrops" name="territories" onchange="mapAppear(this.options[this.selectedIndex].value)">
	<option value ="Select" selected="selected">Select</option>
	<option value="AB">Alberta</option>
	<option value="BC">British Columbia</option>
	<option value="MB">Manitoba</option>
	<option value="NB">New Brunswick</option>
	<option value="NL">Newfoundland and Labrador</option>
	<option value="NW">Northwest Territories</option>
	<option value="NS">Nova Scotia</option>
	<option value="ON">Ontario</option>
	<option value="PE">Prince Edward Island</option>
	<option value="QC">Quebec</option>
	<option value="SK">Saskatchewan</option>
	<option value="YT">Yukon Territory</option>
</select>
<a class="btn btn-primary"> GO </a>
<br><br>							
		