<h4 class="dropHeaders" >2. Select Your Country or Territory </h4>
<select id="latin" class="splashDrops" name="latin" onchange="mapAppear(this.options[this.selectedIndex].value)">
	<option value ="Select" selected="selected">Select</option>
	<option value="AR">Argentina</option>
	<option value="BO">Bolivia</option>
	<option value="BR">Brazil</option>
	<option value="CI">Caribbean Islands</option>
	<option value="CL">Chile</option>
	<option value="CO">Columbia</option>
	<option value="CR">Costa Rica</option>
	<option value="DR">Dominican Republic</option>
	<option value="EC">Ecuador</option>
	<option value="ES">El Salvador</option>
	<option value="GT">Guatemala</option>
	<option value="MX">Mexico</option>
	<option value="NC">Nicaragua</option>
	<option value="PN">Panama</option>
	<option value="PU">Peru</option>
	<option value="PR">Puerto Rico</option>
	<option value="UR">Uruguay</option>
	<option value="VZ">Venezuela</option>
	<option value="VI">Virgin Islands, U.S.</option>
</select>
<a class="btn btn-primary"> GO </a>
<br><br>