
body, html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: url( './resources/images/agsquare/lg.png');
}


#breadCrumb{
	height: 40px;
	width: calc( 100% - 40px);
	position: absolute;
	background: rgba(179,220,237,1);
	background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
	background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );
	border-bottom: 1px solid #1094db;
	border-left: 2px solid #1094db;
	left: 40px;
	top: 0;
}

#calen{
	height: calc( 100% - 30px);
	width: 100%;
}

.locations{
	height: 30px;
	width: calc( 100% - 40px);
	position: absolute;
	background-color: #ddd;
	border-bottom: 2px solid #777;
	top: 40px;
	left: 40px;
}

.cat{
	height: calc( 100% / 3 );
	border: 1px solid black;

}

.breadSpacer{
	position: relative;
	display: inline-block;
}

.contentBody{
	position: absolute;
	width: calc( 100% - 40px); 
	height: calc( 100% - 40px - 30px - 40px );
	top: 70px;
	left: 40px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0 auto;
}

.crumbHeader{
	width: 95%;
	display: inline-block;
	margin: 0 auto 0 5px;
	padding-top: 5px;
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}

.innerLinks{
	margin: 0 auto;
	text-align: center;
	height: 100%;
	padding: 0;
}

.logoLink{
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.logoLink a:link{
	text-decoration: none;
	color: black;
}

.logoLink a:hover {
	text-decoration: none;
	background-color: black;
}

.outer{
	position: relative;
	padding: 0;
	overflow: auto;
	height: calc( 100% - 30px );
}

.rowHeader{
	position: relative;
	text-align: center;
	font-weight: bold;
	font-size: 125%;
	padding-top: 3px;
	border-bottom: 1px solid #edd;
	background-color: #eee;
	height: 30px;
	margin: 0 auto;
}

.sidrIn{
	width: 100%;
	height: 100%;
	overflow: hidden;
}


.title{
	position: relative;
	text-align: center;
	border: 1px solid #ccc;
	clear: none;
	font-weight: bold;
	background-color: #eee;
	font-size: 1.75vw;
	height: 40%;
	width: 100%;
	margin: 0 auto;
}

#ttl{
	position: relative;
 	width: 75%;
 	display: block;
 	margin: 0 auto;
 	height: 90%;
}


}

.forumsList{
	width: 99%;
	text-align: center;
	height: 85%;
	overflow: auto;
	position: relative;
	left: 10px;
}


/* Login Page Specific */

.login{
	height: 70%;
	width: 60%;
	margin: 0 auto;
	border: 1px solid black;
}

.credentials{
	width: 75%;
	margin: 0 auto;
	height: 65%;
	border: 1px solid black;
	border-radius: 5px;
}

.credentials2{
	width: 75%;
	margin: 0 auto;
	height: 75%;
	border: 1px solid black;
	border-radius: 5px;
}



.logHead{
	position: relative;
	text-align: center;
	clear: none;
	font-weight: bold;
	font-size: 1.50vw;
	height: 10%;
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid black;
	background: rgb(0,183,234); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,183,234,1)), color-stop(100%,rgba(0,158,195,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */


		
}
#ttl2{
	position: relative;
 	width: 75%;
 	display: block;
 	margin: 0 auto;
 	height: 90%;
}

input[type=button]{
	margin: auto;
	display: block;
	text-align: center;
}

