body, html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: #f6f6f6;
}

#breadCrumb{
	height: 40px;
	width: calc( 100% - 40px);
	position: absolute;
	background-color: rgba(18, 165, 244, .6); 
	border-bottom: 2px solid #1094db;
	left: 40px;
	top: 0;
}

.locations{
	height: 30px;
	width: calc( 100% - 40px);
	position: absolute;
	background-color: #ddd;
	border-bottom: 2px solid #eee;
	top: 40px;
	left: 40px;
}

.contentBody{
	position: absolute;
	width: calc( 100% - 40px); 
	height: calc( 100% - 40px - 30px - 40px );
	top: 70px;
	left: 40px;
	padding-left: 5px;
	margin: 0 auto;
}

.crumbHeader{
	margin: 0 auto 0 5px;
	padding-top: 5px;
}

.logoLink a:link{
	text-decoration: none;
	background-color: black;
}

.logoLink a:hover {
	text-decoration: none;
	background-color: black;

}

