.sideBar{
	position: absolute;
	width: 150px;
	height: 89%;
	border-right: 2px solid #eee;
	background-color: #eee;
}

.titleHolder{
	position: relative;
	width: 100%;
	height: 15%;
	border-bottom: 1px solid black;
}

#criteria{
	padding-left: 5px;
}

.houses{
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.sorts{
	position: absolute;
	bottom: 5%;
}

.labels{
	position: relative;
	text-align: center;
	padding-bottom: -5px;
}

.sec{ 
	position: relative;
	width: 100%;
	height: calc( 100% / 8 );
}

#sBar{
	width: 100%;
}

#scBar{
	width: 80%;
	margin-left: 3px;
}

#subB{
	width: 15%;
	margin-right: 3px;
}

.sideHead{
	position: relative;
	
}

#favorited{
	position: relative;
	display: inline-block;
	width: 100px;
}

.content{
	position: relative;
	left: 150px;
	width: calc( 100% - 150px );
	overflow: auto;
	height: 85%;

}

.result{
	position: relative;
	width: 100%;
	height: 150px;
	border-bottom: 1px solid black;
	margin: 0 auto;
}
.innerResult{
	/*text-align: center;*/
	margin: 0 auto;
	position: relative;
	width: 90%;
	height: 150px;
}

.pics{
	position: relative;
	display: block;
	top: 15px;
}
.title{
	font-size: 200%;
	font-weight: bold;
}

.price{
	font-weight: bold;
	font-size: 125%;
	position: relative;
	margin-top: 15px;
}

.picbox{
	height: 150px;
	width: 125px;
	display: inline-block;
	margin: 0 auto;
}

.infoBox{
	position: absolute;
	display: inline-block;
	margin: 0 auto;
	height: 150px;
	width: calc( 100% - 125px );
}