<div class="sideBar">
	<div class="sideHead">
		<h4 style="text-align: center;"> Advanced </h4>
	</div>

	<div id="sear">
		<form  method="GET" action="search.php" id="sBar">
		<input type="type" id="scBar" name="search" placeholder="Search"><input id="subB" type="submit" value=">">
		</form>
	</div><br>



		<div class="sorts2">
			<div class="labels"> Sort By: </div>
			<select id="sort" class="sorter" name="sorter" style="width: 95%">
				<option value ="select" selected="selected">...</option>
				<option value="date">Date (newest)</option>
				<option value="max">Price (high to low)</option>
				<option value="min">Price (low to high)</option>
			</select>
		</div>
	</form>
	
</div>

<script>

</script>